@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Lato&family=Roboto+Mono&display=swap');
:root{
  --back_color:#34ab74;
  --text_col:#394b40;
  --form:#9cb0a4;
  --head_foot_col:#00a5e8;
  --text_font:'Roboto Mono',monospace;
}
*{
  margin:0;
}
body{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: var(--back_color);
}
.head{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height: 4em;
  background-color: var(--head_foot_col);
  width:100%;
  margin-bottom:5%;
}
.head .title{
  font-family:var(--text_font);
}
.foot{
  margin-top:auto;
  min-height:4em;
  width:100%;
  background-color: var(--head_foot_col);
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow:hidden;
}
.foot a {
  margin-left:10px;
  text-decoration: none;
  color:rgba(0,0,0);
  font-family:var(--text_font);
  transition:0.8s;
}
.foot a:hover{
  background-color:var(--text_col);
  padding:22px;
  transition:0.8s;
}
.form{
  margin-left:8%;
  margin-right:8%;
  border:solid var(--text_col) 5px;
  border-radius:15px;
  padding:15%;
}
.form .desc input{
  padding-top: 5px;
  padding-right:40px;
}
.form #description{
  padding:5em;
  padding-right:8em;
}
.form .desc{
  margin-top:10px;
  font-family:var(--text_font);
  font-size:25px;
  text-align: start;
}
.form .desc input::placeholder{
  font-family:var(--text_font);
  font-size:18px;
  text-align:start;
}